lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

coverage
npm-debug.log/
node_modules/
.nyc_output/
projectFilesBackup
.coveralls.yml

#my ignores
examples/fcsfiles/
.idea/
misc/
